body {
    font-family: "Helvetica", "Arial", sans-serif;
    margin-bottom: 40px;
}

textarea {
    font-family: "Courier New", "Courier", "Helvetica", "Arial", sans-serif;
}
.result-code {
    width: 60%;
    min-width: 700px;
    font-size: 18px;
}
.content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
h3 {
    margin-bottom: 5px;
}

footer {
    width: 100%;
    position: fixed;
    text-align: center;
    border-top: 1px solid black;
    padding: 10px 0;
    background: #ddd;
    bottom: 0;
}